MISTRAL_API_KEY="API_KEY_HERE"
MISTRAL_MODEL="mistral-model-name-here"

NEXT_PUBLIC_SANITY_API_VERSION="version"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID="sanity_project_id"

NEXT_PUBLIC_SUPABASE_ANON_KEY="anon_key_here"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="publishable_key_here"
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-url.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="service_role_key_here"


UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxxx